[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
sphinx = "*"
sphinxawesome-theme = "*"
sphinx-sitemap = "*"
myst-parser = "*"

[dev-packages]

[requires]
python_version = "3.11"
